@font-face {
    font-family: LogoTitle;
    src: url('../fonts/AntonSC-Regular.ttf')format('truetype');
 }
 .logo p {
    height: 40px;
    width: auto;
    color: #fff;
    font-family:LogoTitle !important; 
    font-size: 24px;
    font-weight:bolder;
}

.navbar {
    background-color: #000;
}
.gradient-text {
    background: linear-gradient(315deg,#683EF0,#2C39F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img01{
    max-width: 800px !important;
    height: 70vh !important;
    object-fit: cover;
}
.custom-gap {
    gap:100px;

}

.leftside {
    max-width: 500px;
/*    height: 476px;*/
}
.font-small {
    font-size: 13px !important;

}

@media (max-width: 768px) {
    .img01 {
        height: 200px; /* Set desired height */
        object-fit: cover; /* Ensure proper image scaling */
    }
}




.card-imgs {
    width: 100% !important; /* Ensures responsiveness */
    max-width: 450px !important; /* Adjust max-width as per your design */
    height: 400px !important; /* Maintain aspect ratio */
    object-fit: cover;
}

.btn {
    border-radius: 0 !important; 
    padding: 10px 30px;
    text-decoration: none;
}

.btn-light {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.btn-light:hover {
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}


