/* 
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 4, 2024, 2:26:21 PM
    Author     : redshark
*/


/* Styles of navigation links */

h1 {
    
background: var(--Title-Gradient, linear-gradient(90deg, #2C39F4 0%, #683EFF 68.75%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}



.landing-section-1 {
gap: 150px !important;
}

.landing-details-container {
    width: 581px !important;
}

/*.text-p {
    width:646px !important;
}*/


.landing-section1-image {
    width: 581px !important;
    height: auto;

}

/*.landing-section-one-img-container {
    width: 646px !important;
}*/





.landing-sec-main {
margin: 0 !important;
padding:0 !important;
}
