
.textGradient {
    background: linear-gradient(315deg,#683EF0,#2C39F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.gradient-background {
    background: linear-gradient(0deg,#683EF0,#2C39F4)!important;
    color: #fff;
}

.font-small {
    font-size: 13px !important;

}

.customimgMD {
    width: 813.828px !important;
    height: auto;

}
