@font-face {
    font-family: LogoTitle;
    src: url('../fonts/AntonSC-Regular.ttf')format('truetype');
 }
 .logo p {
    height: 40px;
    width: auto;
    color: #fff;
    font-family:LogoTitle !important; 
    font-size: 24px;
    font-weight:bolder;
}

.navbar {
    background-color: #000;
}
.gradient-text {
    background: linear-gradient(315deg,#683EF0,#2C39F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}