:root {
            --primary-gradient: linear-gradient(90deg, #2c39f4 0%, #683eff 68.75%);
            --text-white: #ffffff;
            --bg-dark: #000000;
        }
        
        @font-face {
            font-family: LogoTitle;
            src: url(../fonts/AntonSC-Regular.ttf);
        }

        html {
            background-color: var(--bg-dark);
            color: var(--text-white);

        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: roboto,sans-serif;
        }
        

        